project:
  type: website
  output-dir: docs

website:
  description: "Nerdie spanish seafarer sailing in the offshore"
  site-url: https://your-website-url.example.com # you must change this appropriately for RSS feeds to work properly
  title: "Offshore Tiger"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - litera
      - brand
    css: styles.css



